# -----------------------------------------------------------------------------
# Общие файлы Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
# -----------------------------------------------------------------------------
# Локальное виртуальное окружение
# -----------------------------------------------------------------------------
venv/
env/
.venv/
pip-wheel-metadata/
# -----------------------------------------------------------------------------
# Файлы окружения и секреты
# -----------------------------------------------------------------------------
.env
.env.*
*.secret
*.key
# -----------------------------------------------------------------------------
# Лог-файлы и временные файлы
# -----------------------------------------------------------------------------
*.log
*.pot
*~
*.pid
*.seed
# -----------------------------------------------------------------------------
# IDE / ОС специфические файлы
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
.idea
# -----------------------------------------------------------------------------
# Тестовые и кэш-папки
# -----------------------------------------------------------------------------
.pytest_cache/
.coverage
*.cover
.coverage.*
.cache
htmlcov/
nose2-*.xml
test-results/
